.question-card {
  display: flex;
  flex-direction: column;
}

.h-27 {
  min-height: 27rem;
  /* Sets a minimum height of 27rem */
}

.h-screen {
  height: 100vh;
}

.p-4 {
  padding: 1rem;
}

.max-w-md {
  max-width: 28rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
/* 
.border {
  border: 1px solid #e5e7eb;
} */


.shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.font-semibold {
  font-weight: 600;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-left {
  text-align: left;
}

.block {
  display: block;
}

.w-full {
  width: 100%;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.bg-ascent {
  background-color: var(--bs-primary-text-emphasis);
}

.text-white {
  color: #ffffff;
}

/* .rounded {
  border-radius: 0.375rem;
} */

/* Utility classes for flexbox */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Ensures the element stretches to the full height of its parent */
  justify-content: space-between;
  /* Distributes elements evenly across the height */
  flex-grow: 1;
  /* Allows the element to grow and fill available space */
}

/* Utility class for justify-content */
.justify-between {
  justify-content: space-between;
}

.question-card button {
  border-style: solid 11px rgba(128, 128, 128, 0.168) ; 
  border-radius:130px;
  
  /* Adds a border radius of 3rem */
}