footer {
    background-color: rgba(0, 0, 0, 0.6);
}
footer .container {
    padding: 0;
}
footer i {
    margin-right: 18px;
}

.footer .logo {
    padding: 10px 0;
}

.footer .about {
    font-size: .8rem;
    font-style: italic;
    padding-right: 10%;
}

.footer a:hover {
    color: var(--bs-primary-text-emphasis)!important;
}

.footer a:hover, 
.footer p span:hover {
    font-weight: bold;
}