.langSw {
    margin: auto;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

@media (max-width: 375px) {
    .langSw {
        margin: unset;
    }
}

.langSw select {
    padding: 10px; /* Внутренние отступы для удобства */
    font-size: 16px; /* Размер шрифта */
    color: #ffffff77;
    /*border: 1px solid #ccc; /* Граница */
    border: none;
    border-radius: 4px; /* Скругленные углы */
    background-color: transparent; /* Цвет фона */
    cursor: pointer; /* Курсор при наведении */
    appearance: none; /* Убирает стандартный стиль браузера */
    -webkit-appearance: none; /* Убирает стандартный стиль браузера для WebKit */
    -moz-appearance: none; /* Убирает стандартный стиль браузера для Firefox */
}

.langSw select:focus {
    color: var(--bs-primary-text-emphasis);
    outline: none; /* Убирает стандартное выделение при фокусе */
    
}

/* Style for the dropdown options */
.langSw select option {
    background: white;
    color: black;
    font-size: 14px;
}

/* Изменение фона и цвета текста для выбранного пункта */
/* Убираем стандартное выделение активного пункта */
.langSw select option:checked {
    background-color: #ff5722 !important; /* Оранжевый фон */
    color: white !important;
    font-weight: bold;
    filter: brightness(1.1); /* Принудительная перерисовка */
}


/* Фон при наведении */
.langSw select option:hover {
    background-color: #ffcc00; /* Желтый */
    color: black;
}

/* Стилизация при фокусе */
.langSw select:focus option {
    background-color: #ff5722; /* Оранжевый */
    color: white;
}
.langSw select {
    -webkit-appearance: none; /* Убирает стандартные стрелки (Safari, Chrome) */
    -moz-appearance: none; /* Для Firefox */
    appearance: none;
}
