.logo {
    margin: auto;
    padding: 0px;
}


.logo a:hover {
    border: none!important;
}

#navbarNav button {
    margin: auto;
}
/* @media (max-width: 375px) {
    #navbarNav .logo {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
} */