
/* .services .button-2 {
    background-color: var(--bs-primary-text-emphasis);
} */

/* .services a {
    text-decoration: none;
    color: #fff;
} */

.services h4 {
    border-left: 3px solid var(--bs-primary-text-emphasis);
    padding-left: 8px;
}