/* .service-page .table {
    display: none;
} */

.services .service-table {
    margin-bottom: 3rem;
}

.services .button-2,
.services-page .button-2 {
    padding: 1rem 10vw;
    color: white;
    font-weight: normal;
    text-decoration: none;
}
.services-page .button-2:hover ,
.services .button-2:hover {
    letter-spacing: 3px;
}
.services-page  ._btn,
.services ._btn {
    display: flex;
    justify-content: center;
}
/* .services a {
    text-decoration: none;
    color: #fff;
} */


.services h4 {
    border-left: 3px solid var(--bs-primary-text-emphasis);
    padding-left: 8px;
}

.colored {
    color: var(--bs-primary-text-emphasis);
}

.services .section-web {
    margin-bottom: 6rem;
    /* border-bottom: 1px solid gray; */
}

/* items */
.row-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services .item .img {
    max-width: 120px;
}

.service-title {
    margin-bottom: 3rem;
    /* margin-top: 2rem; */
    /* white-space: pre; */
}

.service-title .title {
    
    white-space: pre;
}

.service-title .title {
    
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3rem;
}



.service-title .text {
    font-style: italic;
    margin-top: 1rem;
    font-size: .8rem;
}

.services .item {
    justify-content: center;
}
/* card */
.cardTitle {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
   
    white-space: pre-line; /* Поддержка разрывов строк */
    text-indent: 2em; /* Отступ первой строки на N символа (em) */
  }
  
  .cardText {
    font-size: .8rem;
    text-indent: 2.33em;
  }
  
@media (max-width: 480px) {
    .section .service-title .title {
      font-size: 2rem;
      line-height: 2rem;
      
    }
    .section-app .service-title .text {
      padding-right: 2.5rem!important;
    }
    .services .section-card { 
      padding:0!important;
    }
    .services .item .img img {
     
      margin-left: -2rem;
      width: 96px;
      max-width: none;
    }
}

@media (max-width: 375px) {
    .section .service-title .title {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

}
.services .section-card {
   
    background-color: white;
    padding: 3rem 3rem;
}

.services .section-app {
    margin-bottom: 5rem;
}

.services .item {
    margin-bottom: 3rem;
}

.services .section-app .service-title .text {
    margin-right: -2rem;
}

.services .section-design .num {
    font-size: 4rem;
    font-weight: 100;
    line-height: 4rem;
    text-align: end;
    color: var(--bs-primary-text-emphasis);
}

/* service pages */

.service-banner {
    height: 80vh;
    
    margin-top: -3rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* service page */
.service-page .tableTitle {
    margin: 3rem 0;
}

.service-page .tableNote {
    font-style: italic;
    /* font-size: .8rem; */
    color: rgba(128, 128, 128, 0.5);
}

.service-page .endText {
    
    padding: 3rem 0rem;
}


.service-page .app-item {
    height: 100%;
    overflow: hidden;
}

.service-page .app-row {
    margin-bottom: 1.5rem;
}

.service-page .app-item .app-content {
    padding: 0rem 3rem;
   
}

.service-page .app-item .app-title {
    text-align: center;
    font-weight: bold;
    line-height: 1.1rem;
    white-space: pre;
    padding: 1rem 0;
}

.service-page .app-item .app-title .left {
    color: var(--bs-primary-text-emphasis);
}

.service-page .app-item .item .title {
    font-weight: bold;
    margin-bottom: 0;
    font-size: .9rem;
}

.service-page .app-item .item .text {
    font-size: .8rem;
}

.service-page .app-item .desc {
    font-size: .8rem;
    font-style: italic;
}

.service-page .app-item .desc,
.service-page .app-item .item .text,
.service-page .app-item .item .title {
    text-indent: 18px;
}

@media (max-width: 720px) {
    .app-item {
        /* border: none!important; */
        border-radius: 0!important;
    }
    .services .section-app .service-title .text {
        margin-right: 0;
    }

}

@media (max-width: 425px) {
    .service-page .app-item .app-content {
        padding: 0rem 2rem;
    }
}

@media (max-width: 375px) {
    .service-page .app-item .app-content {
        padding: 0rem 1.5rem;
    }
}

@media (max-width: 320px) {
    .service-page .app-item .app-content {
        padding: 0rem 1rem;
    }
}

/* Table */

.service-page .table tr {
    color: var(--my-main-text-color);
}

.service-page .table .col_1 {
    padding:  1rem;
    width: 20%;
}
.service-page .table .col_2 {
    padding:  1rem 2rem;
}

.service-page .table .col_3,
.service-page .table .col_4 {
    text-align: right;
    width: 20%;
    padding-right: 1rem;
}

.service-page .table table {
    /* border: 1px solid rgba(128, 128, 128, 0.1); */
    border-color: rgba(128, 128, 128, 0.3);
    min-width: 700px;
}

/* Design Page */

.service-page .designContent {
    line-height: 1rem;
}

.service-page .designContent h4,
.service-page .designContent h5  {
    font-size: 1.2rem;
}

.service-page .designContent span {
    /* color:  var(--bs-primary-text-emphasis); */
    font-weight: bold;
}

.service-page .designContent p {
    font-size: .8rem;
}

.service-page .designContent .designItem .itemText {
    font-style: italic;
}

.service-page .designContent .designItem .itemResult {
    font-weight: bold;
    margin-top: 1rem;
}

.service-page .designContent .listItem p {
    margin-bottom: .5rem;
}

.service-page .designContent ol,
.service-page .designContent ul {
    padding-left: 1.2rem;
}

.service-page .designContent ul {
    list-style-type: square;
}

.service-page .designContent ol li::marker {
    font-weight: 500;
    font-size: 1.1rem;
    color:  var(--bs-primary-text-emphasis);
}



.service-page .designContent ul li::marker {
    color:  var(--bs-primary-text-emphasis);
}
