.kinuliutas {
    margin-top: 5rem;
}

.kinuliutas section {
    margin-bottom: 3rem;
}

.kinuliutas h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    /* line-height: 4rem; */
    margin: 3rem auto;
    color: #0A4F59;
    
}

.kinuliutas h3 {
    text-align: center;
    /* color: var(--my-main-text-color); */
    color: #0A4F59;
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 3rem;
    white-space: pre;
}

.kinuliutas h4 {
    margin-bottom: 1rem;
}

.kinuliutas .note {
    font-style: italic;
}

.kinuliutas .img-gerb {
    margin: 0rem auto;
    width: 30%;
}

.kinuliutas .div-gerb {
    display: flex;
}

.kinuliutas .div-diagram {
    display: flex;
}

.kinuliutas .img-diagram {
    margin: 0rem auto;
    width: 50%;
}

.kinuliutas .diagramLegend .color {
    width: 100%;
    height: 1rem;
}

.kinuliutas .diagramLegend .color-1 {
    background-color: #FFB300;
}

.kinuliutas .diagramLegend .color-2 {
    background-color: #F57C00;
}

.kinuliutas .diagramLegend .color-3 {
    background-color: #E53935;
}

.kinuliutas .diagramLegend p {
    margin: 0;
}

.kinuliutas .diagramLegend .note {
    margin-bottom: 1rem;
}

.kinuliutas .container span {
    font-weight: bold;
}

.kinuliutas .td {
    text-align: right;
}

.kinuliutas .table .note {
    margin: 0;
}

.kinuliutas .table td,
.kinuliutas .table th {
    color: white;
    background-color: #212529a1;
    padding: 5px;
}


.kinuliutas .table th {
    text-align: center;
    background-color: #212529d7;
}

.kinuliutas .color-palette {
    margin: 7.7% 0;
}

.kinuliutas .palette {
    margin: 0 10%;
}

.kinuliutas .palette .color {
    width: 100%;
    height: 8.8rem;
    margin: 1rem 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 33px;
}

.kinuliutas .palette .color-1 {
    background-color: #0A4F59;
    color: white;
}
.kinuliutas .palette .color-2 {
    background-color: #91680e;
    color: white;
}
.kinuliutas .palette .color-3 {
    background-color: #5e0b05;
    color: white;
}
.kinuliutas .palette .color-4 {
    background-color: #f4ad00;
}

.kinuliutas .prototyping .interactive {
    margin: 3rem 0;
}

.kinuliutas .img-header,
.kinuliutas .section-4 img {
    margin: 1rem 0;
}

.kinuliutas .section-4 {
    margin-bottom: 3rem;
}

.kinuliutas .final .out {
    margin-top: -4.2rem;
}

.kinuliutas .final .mobiles {
    margin:  1rem;
}


.kinuliutas .end div {
    background-color: #0A4F59;
    color: #f4ad00;
}

.kinuliutas .final .col-md-6, .kinuliutas .final .col-md-4 {
    text-align: center;
}

@media (max-width: 1024px) {
    .kinuliutas section {
        margin-bottom: 2rem;
    }

    .kinuliutas h1 {
        font-size: 3.2rem;
        margin: 1rem auto;
    }
    
    .kinuliutas h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    .kinuliutas h4 {
        font-size: 1.4rem;
    }

    .kinuliutas .img-gerb {
        /* margin: 0rem auto; */
    }
    .kinuliutas .palette .color {
        height: 5rem;
        margin: .5rem 0; 
        border-radius: 23px;  
    }

    .kinuliutas .prototyping .interactive {
        margin: 1rem 0;
    }
    .kinuliutas img {
        margin: .5rem 0;
    }
    .kinuliutas .table  {
        font-size: small;
    }
}

@media (max-width: 768px) {
    .kinuliutas section {
        margin-bottom: 1rem;
    }

    body .kinuliutas {
        font-size: .7rem;
    }
    .kinuliutas p, .kinuliutas h4 {
        margin-bottom: .7rem;
    }
    .kinuliutas h1 {
        font-size: 2rem;
        margin: 1rem auto;
    }
    .kinuliutas h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .kinuliutas h4 {
        font-size: 1.1rem;
    }
    .kinuliutas .diagramLegend .row {
        margin-top: .3rem;
    }
    .kinuliutas .palette .color {
        height: 3.6rem;
    }
    .kinuliutas .prototyping .interactive {
        margin: 1.4rem 0;
    }
    .kinuliutas img {
        margin: .3rem 0;
    }
    .kinuliutas .table  {
        font-size: .7rem;
    }
    .kinuliutas .final .out {
        margin-top: -2.5rem;
    }
}
@media (max-width: 767px) {
    
    .kinuliutas .table  {
        margin-top: 1rem;
    }
    .kinuliutas .final .out {
        margin-top: 1rem;
    }
    .kinuliutas .container {
        max-width: 94%;
    }
}
@media (max-width: 425px) {
    .kinuliutas section {
        margin-bottom: 0rem;
    }

    .kinuliutas p, .kinuliutas h4 {
        margin-bottom: .5rem;
    }
    
    .kinuliutas h1 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        margin-top: 0;
    }
    .kinuliutas h3 {
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    .kinuliutas h4 {
        font-size: .8rem;
    }
    .kinuliutas .img-gerb {
        display: none;
    }
    
    .kinuliutas .final .mobiles {
        margin:  0;
    }
    .kinuliutas .final .col-4{
        padding-right: 0;
        padding-left: .3rem;

    }
    .kinuliutas .final-00 {
        margin-left: .4rem;
    }
    /* .kinuliutas .section-end .container {
        margin-top: 1rem;
        border-radius: 17px;
    } */
}

@media (max-width: 375px) {
    .kinuliutas p, .kinuliutas h4 {
        margin-bottom: .4rem;
    }
    .kinuliutas h1 {
        font-size: 1.1rem;
        /* line-height: 1.1rem; */
        /* margin-bottom: 1rem; */
    }
    .kinuliutas h4 {
        font-weight: bold;
    }
    .kinuliutas .table {
        font-size: .6rem;
    }
    .kinuliutas .table th {
        font-weight: normal;
    }
}

@media (max-width: 320px) {
    .kinuliutas h1 {
        font-size: 1rem;
        /* margin-bottom: 1rem; */
    }
    .kinuliutas h3 {
        font-size: .9rem;
    }
}