@font-face {
    font-family: 'MadeInChina';
    src: url('../../fonts/MADEinCHINA.TTF');
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('../../fonts/SFUIDisplay-Regular.otf');
}

:root {
    
    --hi-main-text: #202020;
    --hi-ascent-text:  #FF4132;
    --hi-ascent2-text:  #8b1215;
    --hi-ascent3-text:  #FF9900;
    --hi-body-text: var(--bs-dark-rgb);
    --hi-second-text: #757575;
   
  }


.hirosaki {
    font-family: 'Roboto';
    
}

.hirosaki section {
    text-align: left;
    display: block;
}
.hirosaki .container {
    padding: 0 10%;
}

.hirosaki .container {
    padding: 0;
    margin: 0 10%;
    max-width: 80%;
}

.hirosaki .container h1 {
    text-align: left;
    font-family: 'MadeInChina';
    font-size: 9em;
    line-height: 0em;
    margin-top: 1em;
   
    color: var(--hi-body-text);
    
}

.hirosaki .container h2 {
    text-align: left;
    font-size: 3em;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    color: var(--hi-ascent2-text);
    margin: 1em 0;
}

.hirosaki h3 {
    text-align: left;
    font-size: 1.5em;
    padding: 40px;

    text-transform: lowercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: var(--hi-ascent2-text);
    
}

.hirosaki .container p {
    text-align: left;
    font-size: 1em;
    color: var(--hi-body-text);
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.hirosaki .device img {
    width: 100%;
}

/* images section */

.img-sushi-01, .img-sushi-02 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-sushi-01 {
    background-image: url('../../images/portfolio/hirosaki/XXL/image_sushi_01.jpg');
}

.img-sushi-02 {
    background-image: url('../../images/portfolio/hirosaki/XXL/image_sushi_02.jpg');
}

@media (max-width: 1440px) {
    .img-sushi-01, .img-sushi-02 {
        height: 500px;
    }
    .img-sushi-01 {
        background-image: url('../../images/portfolio/hirosaki/max-1440/image_sushi_01.jpg');
    }
    .img-sushi-02 {
        background-image: url('../../images/portfolio/hirosaki/max-1440/image_sushi_02.jpg');
    } 
}

@media (max-width: 768px) {
    .img-sushi-01, .img-sushi-02 {
        height: 300px;
    }
    .img-sushi-01 {
        background-image: url('../../images/portfolio/hirosaki/max-768/image_sushi_01.jpg');
    }
    .img-sushi-02 {
        background-image: url('../../images/portfolio/hirosaki/max-768/image_sushi_02.jpg');
    } 
}


/* .portfolio-header */

.hirosaki .portfolio-header {
    background-image: url('../../images/portfolio/hirosaki/XXL/header_photo.jpg');
    height: 85vh;
    padding-bottom: 7em;
    background-size: cover;
}

.hirosaki .portfolio-header h3 {
    color: #ffffff;
}
.hirosaki .portfolio-header .container p {
    width: 30%;
}


.hirosaki .phone-logos {
    margin: 40px 0;
}

.hirosaki .phone-logo {
    height: 40px;
    width: 170px;
    margin: 15px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
}

.hirosaki .android-logo {
    background-image: url('../../images/portfolio/hirosaki/os_logos/android.jpg');
    
}

.hirosaki .iphone-logo {
    background-image: url('../../images/portfolio/hirosaki/os_logos/iPhone.jpeg');
      
}

@media (max-width: 1440px) {
    .hirosaki .portfolio-header {
        background-image: url('../../images/portfolio/hirosaki/max-1440/header_photo.jpg');
    }
}

@media (max-width: 1200px) {
    .hirosaki .container h1  {
        font-size: 6em;
        margin-top: .7em;
    }
    .hirosaki .container h2 {
        font-size: 2em;
    }
    .hirosaki .container h3 {
        font-size: 1em;
    }
}
@media (max-width: 768px) {
    .hirosaki .container h1 {
        font-size: 5em;
    }
    .hirosaki .container h2 {
        font-size: 1.5em;
    }
    .hirosaki .portfolio-header {
        background-image: url('../../images/portfolio/hirosaki/max-768/header_photo.jpg');
    }
    .hirosaki .portfolio-header .container p {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .hirosaki .container h1 {
        font-size: 4em;
    }
    .hirosaki .container h2 {
        font-size: 1.4em;
    }
}

@media (max-width: 468px) {
    .hirosaki .container h1 {
        font-size: 3.5em;
    }
    .hirosaki .portfolio-header .container p {
        width: 80%;
    }
}

/* overview */
.project-overview {
    background-color: #f5f5f5;
 }

.hirosaki .project-overview-table {
    width: 100%;
    display: flex;
}

.hirosaki .project-overview-table .td {
    width: 30%;
}

.hirosaki .project-overview-table .td-50 {
    width: 100%;
}

.hirosaki .project-overview .desc {
    display: flex;
    margin-bottom: -15em;
    justify-content: center;
}
.hirosaki .project-overview .pad {
    display: none;
}

.hirosaki .device00 {
    width: 40%;
    margin-right: -15%;
    margin-top: -180px;
   
    z-index: 100;
}

.hirosaki .device02 {
    width: 50%;
    margin-top: -270px;
    /* margin-right: 15%; */
   
}

@media (max-width: 1200px) {
    .hirosaki  .device00 {
        margin-top: -10px;
    }
    .hirosaki  .device02 {
        margin-top: -70px;
    }
    .hirosaki .project-overview-table .pad {
        display: none;
    }
}
@media (max-width: 768px) {
   

    .hirosaki .project-overview-table {
        display: block;
        
    }

    .hirosaki .project-overview-table .td {
        width: 100%;
    }

    .hirosaki .project-overview-table .pad {
        display: flex;
    }
    .hirosaki .project-overview-table .pad .device00, 
    .hirosaki .project-overview-table .pad .device02 {
        margin: 0;
        width: 50%;
    }
    .hirosaki .project-overview-table .desc {
        display: none;
    }
}


/* project-design */

.project-design {
    z-index: 999;
    padding-top: 1px;
    
    width: 100%;
    position: relative;
}
.project-design::before {
    background-image: url('../../images/portfolio/hirosaki/XXL/image_sushi_00.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}


.project-design h3 {
    color: #ffffff!important;
}

.project-design .container-fonts,
.project-design .container-colors {
    width: 100%;
    display: flex;
    justify-content: end;
    /* height: 9em; */
}
.project-design .fonts,
.project-design .colors {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.project-design .font {
    background-color: #ffffff;
    width: 30%;
    padding: 12px;
    border-radius: 16px;
}

.project-design .color {
   text-align: center;
   align-items: center;
}

.project-design .font,
.project-design .color-content {
    box-shadow: 7px 14px 25px #00000050;
}

.project-design .color-content {
   
   border-radius: 100px;
   width: 130px;
   height: 130px;
   margin-top: 3em;
}

.project-design .color-example {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-design .color-title {
    text-align: center;
    color: white;
    margin-top: 1em;
    margin-bottom: 2em;
}



.project-design .font-title {
    display: flex;
    justify-content: space-between;
}

.project-design .font-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: 96px;
}

.project-design .font-logo .font-content {
    font-family: 'MadeInChina';
  
}
.project-design .font-android .font-content {
    font-family: 'Roboto';

}
.project-design .font-iphone .font-content {
    font-family: 'SanFrancisco';

}
.project-design .color-main .color-content {
    background-color: #FF4132;
}
.project-design .color-back .color-content {
    background-color: #FFFFFF;
}
.project-design .color-text .color-content {
    background-color: #202020;
}
.project-design .color-ascent .color-content {
    background-color: #FF9900;
}
.project-design .color-hint .color-content {
    background-color: #FFC200;
}

@media (max-width: 1440px) {
    .project-design::before {
        background-image: url('../../images/portfolio/hirosaki/max-1440/image_sushi_00.jpg');
    }    
}


@media (max-width: 992px) {
    .project-design .fonts,
    .project-design .colors {
        width: 100%;
    }

    .project-design .color-content {
        width: 100px;
        height: 100px;
     }
}

@media (max-width: 624px) {
    .project-design .color-content {
        width: 80px;
        height: 80px;
     }
}

@media (max-width: 576px) {
    .project-design .color-content {
        width: 50px;
        height: 50px;
     }
    .project-design  .font-content {
        
        font-size: 52px;
    }
    .project-design  .font-title {
        display: block;
    }
    .project-design  .font-name,
    .project-design  .color-name {
        font-weight: bold;
        min-height: 3em;
    }
}
@media (max-width: 390px) {
    .project-design::before {
        background-image: url('../../images/portfolio/hirosaki/max-768/image_sushi_00.jpg');
    }
    .project-design .colors {
        display: block;
        margin-bottom: 2em;
    }
    .project-design .color-title {
        margin-bottom: 0;
    }
    
    .project-design  .color-name {
        min-height: 1em;
    }

    .project-design .color-content {
   
        width: 130px;
        height: 130px;
     }    
    
}
/* Key Features */

.key-features {
   background-color: #f5f5f5;
}

.key-features .container {
    display: flex;
}

.key-features .keys-imgs {
    display: flex;
    padding-left: 5%;
    
}

.key-features .keys-img img {
    width: 100%;
}

.key-features .keys-img-02 img {
   margin-top: 4.5em;
   margin-left: -40%;
}

.key-features .keys-img-05 img {
    margin-top: 4.5em;
    z-index: 9;
    position: relative;
    margin-left: 40%;
}

@media (max-width: 1200px) {
    .key-features .container {
        display: block;
    }

    .key-features .container .text {
        display: flex;
    }

    
}

@media (min-width: 1980px) {
    .key-features .keys-imgs-second {
        display: none;
    }
    
}
/* Screenshots */

.screenshots .container .screen-imgs {
    display: flex;

}

.screenshots .screen-img img {
   width: 100%;
   transform: rotate(17deg);
}


/* Tools */

.tools {
    position: relative;
    padding-bottom: 1em;
    z-index: 9;
    background-color: #f5f5f5;
}


/* role */

.role {
    background-color: #f5f5f5;
}
.role .container .context-role {
    display: flex;
    justify-content: center;
}


/* sol */
.sol {
    background-color: #f5f5f5;
}

.sol .container .desc {
    display: flex;
    justify-content: center;
}

.sol .context-sol-left, 
.sol .context-sol-right {
    width: 40%;
}

.sol .context-sol-left {
    padding-right: 5%;
}

@media (max-width: 1440px) {

}

@media (max-width: 768px) {
    .sol .context-sol-left, 
    .sol .context-sol-right {
        width: 100%;
        padding: 0;
    }
    .sol .sol-right .sol-item {
        padding-right: 10%;
    }
}

/* res */



.res .container {
    display: flex;
    justify-content: center;
}

.res .context-res-left, 
.res .context-res-right {
    width: 50%;
}

.res .context-res-left {
    padding-right: 5%;
}


/* end */

.end div {
    text-align: center;
    /* background-color: #757575; */
    /* background-color: #2B3C42; */
    background-color: var(--bs-primary-text-emphasis)!important;
    margin: 0 5% 40px  5%;
    padding: 1em 5%;
    border-radius: 27px;

    /* color: #FFC200; */
    /* color: #ffb300; */
    color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    font-size: 5em;
    font-weight: 400;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.27);
}

@media (max-width: 1440px) {
    .end div {
        font-size: 5em;
    }
}

@media (max-width: 768px) {
    .end div {
        font-size: 3em;
    }
}

@media (max-width: 425px) {
    .end div {
        font-size: 2em;
    }
}