.portfolio-helpcenter{
    margin-top: 5rem;
}

.portfolio-helpcenter .portfolio-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
  .portfolio-helpcenter .portfolio-banner {
        background-position: 20%;
    }
}


.portfolio-helpcenter .banner-icon {
    width: 100px;
    margin-bottom: 10px;
    object-fit: cover;
}

.portfolio-helpcenter .banner-title {
    font-size: 1.5em;
    margin: 0;
}

.portfolio-helpcenter .banner-subtitle {
    font-size: 2.1em;
    margin: 5px 0;
    font-weight: 300;
    color: #3c58a6;
}

.portfolio-helpcenter .banner-description {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;    
    color: dimgrey;
}

.portfolio-helpcenter .list-title {
    font-weight: bold;
}

/* Заголовок списка и технологии */
.portfolio-helpcenter .holy-spirit-project ul {
    list-style: none;
    padding: 0;
}

.portfolio-helpcenter .holy-spirit-project ul li {
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio-helpcenter .holy-spirit-project ul li p {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.6;
}

/* Стиль для заголовков в пунктах списка */
.portfolio-helpcenter .list-title {
    font-weight: bold;
    color: #4a90e2;
    font-size: 1.1em;
}

/* Стили для абзацев */
.portfolio-helpcenter .holy-spirit-project p {
    margin: 10px 0;
    line-height: 1.6;
}

/* Дополнительные стили */
.portfolio-helpcenter .holy-spirit-project .section-title {
    font-size: 1.5em;
    color: #4a90e2;
    margin-top: 20px;
}

.portfolio-helpcenter .inline-image {
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
    display: block;
    /* border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
  
  
.portfolio-helpcenter .header-logo {
    max-width: 50px;
    margin-bottom: 10px;
  }
  
  .portfolio-helpcenter .project-title {
    font-size: 2.5em;
    margin: 0;
  }
  
  .portfolio-helpcenter .project-subtitle {
    font-size: 1.2em;
    color: #ddd;
  }
  
  .portfolio-helpcenter .project-intro, 
  .portfolio-helpcenter .features, 
  .portfolio-helpcenter .technologies, 
  .portfolio-helpcenter .business-impact {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
 

.portfolio-helpcenter .text-intro {
    display: grid;
    place-items: center;
    height: 100%;
}

  .portfolio-helpcenter .intro-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .portfolio-helpcenter .intro-text {
    max-width: 600px;
  }
  
  .portfolio-helpcenter .intro-image {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .portfolio-helpcenter .section-title {
    font-size: 1.7rem;
    line-height: 1.2rem;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    color: #3c58a6;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .portfolio-helpcenter .features-list, 
  .portfolio-helpcenter .technologies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: space-around; */
  }
  
  .portfolio-helpcenter .feature-item, 
  .portfolio-helpcenter .technology-item {
    /* background-color: #f9f9f9; */
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    /* width: calc(50% - 20px); */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .portfolio-helpcenter h3 {
    font-size: 3em;
    font-weight: lighter;
    color: #3c58a6;
  }
  
 
  


  .portfolio-helpcenter .table-cell {
    /* border: 1px solid #ccc; */
    padding: 20px;
    /* background-color: #f9f9f9; */
    /* text-align: center; */
    height: 100%;
    /* display: grid; */
  }
  .portfolio-helpcenter .full-height {
    height: 100%;
  }

  /* -------------- */
  .portfolio-helpcenter h6 {
    font-weight: bold;
    color: #3c58a6;
  }

  @media (min-width: 768px) { 
    .portfolio-helpcenter .row-img {
        background-image: url('../../images/portfolio/helpcenter24/homeAudioPlayers.jpg'); 
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
        /* display: grid; */
    }
}

  @media (max-width: 768px) { 
  
    .portfolio-helpcenter h3 {
        font-size: 2.7em;
        font-weight: 200;
    }
}



@media (max-width: 480px) {
    .portfolio-helpcenter .row-inner {
        display: grid;
    }
    .portfolio-helpcenter .only-sm-img {
        margin-left: -25%;
        width: 100%;
    }
    .portfolio-helpcenter h3 {
        font-size: 2.7em;
        font-weight: 200;
    }
}

/* Help Center + */

.portfolio-helpcenter .end div { 
  background-color: #3c58a6;
  color: #fff;
}
