.tools .tool-item {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    border-top: 1px solid rgba(128, 128, 128, 0.27);
    padding-top: 1em;
}

.tools .tool-item .toolItem-title {
    width: 100%;
    font-weight: bold;
    text-align: left;;
    /* padding-right: 5%; */
}

.tools .tool-item .toolItem-text {
    width: 100%;
}

@media (max-width: 1440px) {

}

@media (max-width: 768px) {
    .tools .tool-item .toolItem-title {
        width: 100%;
        text-align: left;
        padding-right: 0;
    }
    .tools .tool-item .toolItem-text {
        width: 100%;
    }
}