.role .role-left, 
.role .role-right {
    width: 40%;
}

.role .role-right {
    padding-right: 5%;
}

.role .right {
    text-align: right;
}

.role .roleItem-title {
    font-weight: bold;
    margin-bottom: 1em;
}

.role .roleItem-text {
    
    margin-bottom: 2em;
}

@media (max-width: 1440px) {

}

@media (max-width: 768px) {
    .role .role-left, 
    .role .role-right {
        width: 100%;
    }

    .role .right {
        text-align: left;
    }

    .role .role-right {
        padding-right: 0;
    }

    .role .role-right .role-item {
        padding-right: 10%;
    }
}