.tools .tool-item {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    border-top: 1px solid rgba(128, 128, 128, 0.27);
    padding-top: 1em;
}

.tools .tool-item .toolItem-title {
    width: 40%;
    font-weight: bold;
    text-align: right;
    padding-right: 5%;
}

.tools .tool-item .toolItem-text {
    width: 40%;
}