

.sol .right {
    text-align: right;
}

.sol .solItem-title {
    font-weight: bold;
    margin-bottom: 1em;
}

.sol .solItem-text {
    margin-bottom: 3em;
}


@media (max-width: 1440px) {

}

@media (max-width: 768px) {
    
}