html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

:root {
  --bs-primary-text-emphasis: rgb(255, 140, 0);
  --my-main-text-color: #424242;
}

.bg-gray {
  background-color: #343a40;
}

.service-page {
  margin-top: 4rem;
}

.page {
  color: var(--my-main-text-color);
  background-color: white;
}

/* btn - 2 */
.button-2 {
  /* background-color: rgba(51, 51, 51, 0.05); */
  background-color: var(--bs-primary-text-emphasis) !important;
  border-radius: 3rem;
  border-width: 0;
  /* color: #333333; */
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 1rem 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.banner {
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  /* height: ull-screen-display; */
}

.banner::before {

  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

/* text */
.banner h1 {
  font-size: 5rem;
  line-height: 5rem;
  padding-top: 20vh;
  text-transform: uppercase;
  font-weight: 800;
}

.banner p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0 2em 0;

  padding-left: 51%;
  padding-right: 17%;
  text-align: left;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App footer {
  z-index: 1010;
  position: relative;
}

.my-border {
  border: 2px solid rgba(128, 128, 128, 0.1);
  border-radius: 111px;
}

.my-bg {
  border-color: transparent;
  background-color: rgba(128, 128, 128, 0.1);
}

@media (max-width: 1024px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 3.5em;
    line-height: 3.5rem;

  }

  .banner p {

    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

@media (max-width: 640px) and (max-height: 360px) {
  .banner h1 {
    padding-top: 7rem;
    line-height: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .banner h1 {
    line-height: 2.1rem;
    font-size: 2.1rem;
    padding-top: 2rem;
  }

  .banner p {
    font-size: 1rem;
  }

  .my-border {
    border-radius: 55px;
  }
}

@media (max-width: 384px) {
  .banner h1 {
    margin-top: 2rem;
  }
}

@media (max-width: 375px) {
  .banner h1 {
    font-size: 2em;
    line-height: 2rem;
  }
}

@media (max-width: 320px) {
  .banner h1 {
    margin-top: 4rem;

    font-size: 1.5em;
    line-height: 1.6rem;
  }
}

@media (max-width: 240px) {
  .banner h1 {
    /* margin-top: 7rem; */
    font-size: 1.2em;
    line-height: 1.2rem;
  }
}