body {
  background-color: slategrey;
}
h1 {
  text-align: center;
}

:root {
  --bs-primary-text-emphasis: rgb(255, 140, 0); 
  --my-main-text-color: #424242;
}

/* btn - 2 */
.button-2 {
  /* background-color: rgba(51, 51, 51, 0.05); */
  background-color: var(--bs-primary-text-emphasis)!important;
  border-radius: 3rem;
  border-width: 0;
  /* color: #333333; */
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 1rem 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
/* .button-2 {
  background-color: var(--bs-primary-text-emphasis)!important;
} */